<header>
  <div class="container">
    <div class="title" [routerLink]="'/'" style="cursor: pointer">
      {{ title }}
    </div>
    <div class="subtitle">{{ subtitle }}</div>
    <form (ngSubmit)="onSubmit()">
      <div class="search-bar">
        <input
          type="search"
          onfocus="this.value = '';"
          onblur="this.value = (this.value === '') ? 'Faça sua pesquisa aqui' : '';"
          [(ngModel)]="searchTerm"
          autocomplete="off"
          name="search"
        />
        <button>Pesquisar</button>
      </div>
    </form>
  </div>
</header>
