<section>
  <p>
    Encontramos <b id="totalCards">{{ totalCards }}</b> cartas para você.
  </p>
  <div *ngIf="isLoading" class="loading text-center">
    <img src="assets/images/camera-loader.gif">
  </div>
  <div class="row" *ngIf="cards">
    <div
      class="col"
      *ngFor="let card of cards; let total = count"
      (click)="cardViewer(card)"
    >
      <div class="card">
        <div class="card-image" *ngIf="card.images.small">
          <img [src]="card.images.small" class="w-100" alt="" />
        </div>
        <div class="card-title">
          <span>{{ card.id }}</span>
          <h4>{{ card.name }}</h4> 
        </div>
        <p>
          Tipo: <span *ngFor="let type of card.types">{{ type }}</span>
        </p>
      </div>
    </div>
    
  </div>
  <div class="card" *ngIf="totalCards === 0">
    <div class="card-title text-center">
      <h4>Nenhuma carta encontrada</h4>
    </div>
  </div>
</section>
